:root {
  --bg-primary-color: #0c3d48;
  --bg-secondary-color: #a4bf9d;
  --bg-yellow: #ffea4f;
  --bg-green: #0dffa8;
  --bg-blue: #ffdafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  color: var(--bg-primary-color);
}

body {
  background-color: var(--bg-primary-color);
}
header {
  padding: 12px 104px;
  margin: 12px;
  border-radius: 12px;
  background-color: #fff;
  position: sticky;
  top: 12px;
  z-index: 99;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 80px;
}

nav ul li a {
  color: var(--bg-primary-color);
}
.btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-menu {
  background-color: white;
  box-shadow: 3px 4px #000;
  padding: 2px 8px;
  border-radius: 1000px;
  display: none;  
  border: 1px solid #000;
}
.btn-menu:active {
  box-shadow: 1px 1px #000;

}
.btn-login {
  border-radius: 1000px;
  background-color: white;
  box-shadow: 3px 4px #000;
  padding: 8px 16px;
  border: 1px solid #000;
  font-size: 600;
  cursor: pointer;
}
.btn-started {
  border-radius: 4px;
  background-color: var(--bg-secondary-color);
  box-shadow: 3px 6px #000;
  padding: 8px 16px;
  border: 1px solid #000;
  font-size: 600;
  margin-top: 16px;
}

.btn-started:active {
  background-color: #000;
  box-shadow: 0px 0px #000;
  color: var(--bg-secondary-color);
  border: 1px solid transparent;
}
.btn-login:active {
  /* background-color: #000; */
  box-shadow: 1px 1px #000;
  /* color: white; */
  /* border: 1px solid transparent; */
}
.hero-section {
  color: var(--bg-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  margin: 0px 12px 12px 12px;
  border-radius: 12px;
  /* background-color: azure; */
  /* background: var(--bg-green); */
  background-image: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
  padding: 0px 104px;
}
.hero-left {
  max-width: 490px;
}
.hero-left > h1 {
  font-size: 62px;
  max-width: 500px;
  margin-bottom: 16px;
  letter-spacing: -0.025em;
  color: #000;
}
.hero-left > p {
  line-height: 1.2rem;
  letter-spacing: 0.05em;
}
.course-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  margin: 0px 12px;
}

.card-course-web {
  height: 40vh;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-course-data {
  height: 40vh;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-course-ui {
  height: 40vh;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text h3 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #000;
}
.card-text > p {
  color: var(--bg-primary-color);
}
.btn-learn {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 12px;
  background-color: #000;
  border: 1px solid transparent;
  color: white;
  border-radius: 1000px;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 4px;
  border: 1px solid var(--bg-primary-color);
  border-radius: 1000px;
  padding: 4px 8px;
  font-size: 10px;
  margin-bottom: 16px;
}
.circle {
  width: 8px;
  height: 8px;
  content: " ";
  background-color: var(--bg-primary-color);
  border-radius: 1000px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.event-section {
  /* background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%); */
  /* height: 40vh; */
  /* width: 100%; */
  margin: 12px;
  display: flex;
  /* flex-direction: column; */
  gap: 12px;
}
.event-content {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.event-content > img {
  width: 40%;
  object-fit: cover;
}
.card-event {
  border-radius: 12px;
  background-color: var(--bg-green);
  padding: 20px;
  width: 100%;
}

.event-text > p {
  max-width: 400px;
  margin: 12px 0px;
  font-size: 14px;
}
.event-text > h3 {
  font-size: 28px;
  margin-top: 40px;
  color: #000;
}

.testimoni-section {
  /* height: 60vh; */
  padding: 80px;
  /* background-color: var(--bg-secondary-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
  margin: 0px 12px;
  border-radius: 12px;
}

.cta-section {
  height: 40vh;
  /* background-image: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-yellow);
  margin: 12px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  padding: 0px 20px;
}
.cta-content {
  text-align: center;
}
.cta-content > p {
  max-width: 500px;
  margin: 20px 0px;
  color: var(--bg-primary-color);
}
.cta-content > h2 {
  font-size: 40px;
  letter-spacing: -0.05em;
  color: #000;
}
.graph {
  position: absolute;
  bottom: 120px;
  right: -180px;
}
.graph2 {
  position: absolute;
  top: 120px;
  /* bottom: 40px; */
  left: -80px;
}
.graph2 > img {
  /* height: 40vh; */
  width: 70%;
  border-radius: 12px;
}
.graph > img {
  width: 70%;
  border-radius: 12px;
}

.card-test-container {
  display: grid;
  gap: 20px;
  margin-top: 40px;
  position: relative;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.btn-arrow-left {
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 2px 2px #000;
  border-radius: 1000px;
  padding: 2px 3px 1px 3px;

  left: -20px;
}
.btn-arrow-right {
  right: -20px;
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 2px 2px #000;
  border-radius: 1000px;
  padding: 2px 3px 1px 3px;
}

.header-testimoni {
  text-align: center;
  max-width: 400px;
}
.header-testimoni > h3 {
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
}
.testi-head {
  display: flex;
  gap: 8px;
}
.testi-card {
  border: 1px solid black;
  width: 100%;
  background-color: white;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 4px #000;
}
.testi-card > p {
  max-width: 400px;
  margin-top: 16px;
}
footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 60vh;
  background-color: white;
  margin: 0px 12px 12px 12px;
  border-radius: 12px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
